<form class="create-pop-up" action="/workspaces" method="POST">
  <div>
    <p>New workspace</p>
    <button type="button" class="close-create-workspace">&times;</button>
  </div>

  <div class="submit-container">
    <input type="text" id="title" name="title" placeholder="Workspace name" />
    <input type="submit" value="✓" />
  </div>
</form>
