<form class="createPopUp" action="/workspaces" method="POST">
  <p>New workspace</p>
  <input type="text" id="title" name="title" placeholder="Workspace name" />
  <input type="submit" value="✓" />
</form>
