<form class="create-pop-up" action="/workspaces" method="POST">
  <div>
    <p>New workspace</p>
    <button class="close-create-workspace">&times;</button>
  </div>
  <input type="text" id="title" name="title" placeholder="Workspace name" />
  <button></button>
  <input type="submit" value="✓" />
</form>
<div class="backdrop"></div>
