<div class="modal-edit" id="modal-edit">
  <div class="modal-header">
    <div class="modal-title-edit" contenteditable="plaintext-only">
      Example Modal
    </div>
    <textarea
      class="issue-description-edit"
      placeholder="Describe issue here!"
      contenteditable="plaintext-only"
    ></textarea>
  </div>

  <div class="edit-sidebar">
    <button data-close-button class="close-button-edit">&times;</button>

    <div class="dropdown-footer">
      <div class="dropdown-wrapper" id="priorityDropdown">
        <div class="dropdown-btn">
          <span class="selected-item" id="selected-priority-edit"
            >Priority</span
          >
        </div>
        <div class="dropdown-menu">
          <div class="item">Low</div>
          <div class="item">Medium</div>
          <div class="item">High</div>
          <div class="item">Urgent</div>
        </div>
      </div>
      <div class="dropdown-wrapper" id="labelDropdown">
        <div class="dropdown-btn" btnText="Assignee">
          <span class="selected-item" id="selected-responsibility-edit"
            >Assignee</span
          >
        </div>
        <div class="dropdown-menu select-user-on-issue-edit-dropdown">
          <div class="item">tempUser1</div>
          <div class="item">tempUser2</div>
          <div class="item">tempUser3</div>
          <div class="item">tempUser4</div>
        </div>
      </div>
      <div class="multiple-choice-wrapper" id="labelMultipleChoice">
        <div class="multiple-choice-btn">
          <span>Labels</span>
        </div>
        <div class="multiple-choice-menu">
          <div class="option-edit">
            <input type="checkbox" name="label1" id="label1" />
            <label for="label1">Analysis</label>
          </div>
          <div class="option-edit">
            <input type="checkbox" name="label2" id="label2" />
            <label for="label2">Writing</label>
          </div>
          <div class="option-edit">
            <input type="checkbox" name="label3" id="label3" />
            <label for="label3">Production</label>
          </div>
          <div class="option-edit">
            <input type="checkbox" name="label4" id="label4" />
            <label for="label4">Review</label>
          </div>
        </div>
      </div>
    </div>
    <div class="close-button-container">
      <button id="btn-issue-confirm-edit" type="submit">Confirm</button>
    </div>
  </div>
</div>
