<div class="modal" id="modal">
  <div class="modal-header">
    <div
      class="modal-title"
      contenteditable="true"
      data-text="Enter title here"
    ></div>
    <button data-close-button class="close-button">&times;</button>
  </div>

  <div class="modal-body">
    <div
      id="todo-description"
      class="modal-description"
      contenteditable="true"
      data-text="Enter description"
    ></div>
    <select class="modal-lead-responsibility"></select>

    <div class="dropdown-footer">
      <div class="dropdown-wrapper" id="priorityDropdown">
        <div class="dropdown-btn">
          <span class="selected-item" id="selected-priority">Priority</span>
        </div>
        <div class="dropdown-menu">
          <div class="item">low</div>
          <div class="item">medium</div>
          <div class="item">high</div>
          <div class="item">urgent</div>
        </div>
      </div>
      <div class="dropdown-wrapper" id="labelDropdown">
        <div class="dropdown-btn" btnText="Assignee">
          <span class="selected-item" id="selected-responsibility"
            >Assignee</span
          >
        </div>
        <div class="dropdown-menu select-user-on-issue-creation-dropdown">
          <div class="item">tempUser1</div>
          <div class="item">tempUser2</div>
          <div class="item">tempUser3</div>
          <div class="item">tempUser4</div>
        </div>
      </div>
      <div class="multiple-choice-wrapper" id="labelMultipleChoice">
        <div class="multiple-choice-btn">
          <span>Labels</span>
        </div>
        <div class="multiple-choice-menu">
          <div class="option">
            <input type="checkbox" name="label1" id="label1" />
            <label for="label1">Analysis</label>
          </div>
          <div class="option">
            <input type="checkbox" name="label2" id="label2" />
            <label for="label2">Writing</label>
          </div>
          <div class="option">
            <input type="checkbox" name="label3" id="label3" />
            <label for="label3">Production</label>
          </div>
          <div class="option">
            <input type="checkbox" name="label4" id="label4" />
            <label for="label4">Review</label>
          </div>
        </div>
      </div>
      <button id="btn-issue-create" type="submit">Create</button>
    </div>
  </div>
</div>
