{{!--
<nav>
  {{#if isLoggedIn}}
  <h3>{{ currentUserUsername }}</h3>
  {{/if}} --}}
  <ul>
    <li class="home-btn">
      <a href="/"><img /></a>
    </li>
    <li class="about-btn"><a href="/">Home</a></li>
    <li class="manifesto-btn"><a href="/manifesto">Manifesto</a></li>
    {{#unless isLoggedIn}}
    <li class="login-btn"><a href="/login">Login</a></li>
    <li class="register-btn"><a href="/register">Register</a></li>
    {{/unless}}
    {{#if isLoggedIn}}
    <li class="workspace-btn"><a href="/workspaces">Workspaces</a></li>
    <li class="logout-btn"><a href="/logout">Logout</a></li>
    {{/if}}
  </ul>
</nav>
