<div class="modal-share" id="modal-share">
  <div class="modal-header">
    <div class="modal-title">Share</div>
    <button data-close-button class="close-button-share">&times;</button>
  </div>
  <div class="modal-body">
    <form>
      <label> Search</label>
      <input type="text" class="share-search-filter" />
      <button type="button" class="share-search-button">Search</button>
      <select class="user-options-share"></select>
      <button type="button" class="share-button">Share</button>
      <div class="share-collection"></div>
      <button type="button" class="confirm-button">Confirm</button>
    </form>
  </div>
</div>
