<form class="modal-share" id="modal-share">
  <div class="search-header">
    <input type="text" placeholder="Search" class="share-search-filter" />
    <button type="button" class="share-search-button">
      <img src="../img/icons/search.svg" alt="" />
    </button>
  </div>
  <button data-close-button type="button" class="close-button-share">
    &times;
  </button>
  <select class="user-options-share"></select>
  <div class="share-collection"></div>
  <button type="button" class="share-button">Share</button>
  <button type="button" class="confirm-button">Confirm</button>
</form>
