<div class="sidebar">
  <div class="sidebar-top">
    <a href="/">
      <img src="../img/AppLogo.png" />
      <p>NOVA</p></a
    >
  </div>
  <div class="sidebar-content">
    <div class="workspace-icons">
      <button id="share-workspace">
        <img src="../img/icons/shareIcon.svg" alt="" />
      </button>
    </div>
  </div>
</div>
