<body>
  {{> navbar}}
  <main>
    <div class="header">
      <h1 class="title">Workspaces</h1>
      <button class="open-create-workspace">+</button>
    </div>
    {{> createWorkspacePopUp}}
    <div class="workspaces-container">
      {{#each workspaces}}
      <div>
        <h2>{{ this.title }}</h2>
        <a href="/workspaces/{{ this._id }}"> Enter</a>
      </div>
      {{/each}}
    </div>
  </main>
</body>
