<body></body>
{{>sidebar}}

<div class="board">
  <div class="lanes">
    <div class="swim-lane" id="todo-lane">
      <div class="lane-header">
        <h3 class="heading">To-do</h3>
        <button class="add-card" value="todo-lane">+</button>
      </div>
    </div>
    <div class="swim-lane" id="progress-lane">
      <div class="lane-header">
        <h3 class="heading">In progress</h3>
        <button class="add-card" value="progress-lane">+</button>
      </div>
    </div>

    <div class="swim-lane" id="done-lane">
      <div class="lane-header">
        <h3 class="heading">Done</h3>
        <button class="add-card" value="done-lane">+</button>
      </div>
    </div>
  </div>
</div>

{{> issueCreatePopUp}}
{{> issueEditPopUp}}
{{> sharePopUp}}
<div id="overlay"></div>
<script>
  const workspaceID = "{{workspaceID}}";
</script>
