<div class="sidebar">
  <div class="sidebar-top">
    <img class="app-logo" src="../img/AppLogo.png" />
    <p class="app-name">NOVA</p>
  </div>
</div>
<div class="board">
  <form id="todo-form">
    <input type="text" placeholder="New TODO..." id="todo-input" />
    <button type="submit">Add +</button>
  </form>

  <div class="lanes">
    <div class="swim-lane" id="todo-lane">
      <h3 class="heading">TODO</h3>
    </div>

    <div class="swim-lane" id="progress-lane">
      <h3 class="heading">In progress</h3>
    </div>

    <div class="swim-lane" id="done-lane">
      <h3 class="heading">Done</h3>
    </div>
  </div>
</div>

<button data-modal-target="#modal">Open Modal</button>
<div class="modal" id="modal">
  <div class="modal-header">
    <div class="modal-title">Example Modal</div>
    <button data-close-button class="close-button">&times;</button>
  </div>
  <div class="modal-body">
    <div id="todo-form">
      <label>Description</label>
      <br />
      <input
        class="issue-description"
        type="text"
        placeholder="Describe issue here!"
        contenteditable="plaintext-only"
      />
      <br />
      <select class="modal-priority">
        <option value="low">Low</option>
        <option value="medium">Medium</option>
        <option value="high">High</option>
        <option value="urgent">Urgent</option>
      </select>
      <select class="modal-lead-responsibility"></select>
      <div class="dropdown">
        <input
          id="dropdownButton"
          type="button"
          class="dropdown-button"
          value="Dropdown"
        />
        <div id="options" class="dropdown-content">
          <input class="option" type="checkbox" id="option" value="Analysis" />
          <label for="Analysis">Analysis</label><br />
          <input class="option" type="checkbox" id="option" value="Writing" />
          <label for="Writing">Writing</label><br />
          <input class="option" type="checkbox" id="option" value="Review" />
          <label for="Review">Review</label><br />
          <input
            class="option"
            type="checkbox"
            id="option"
            value="Production"
          />
          <label for="Production">Production</label><br />
        </div>
      </div>
      <button id="btn-issue-create" type="submit">Create Issue</button>
    </div>
  </div>
</div>

<div class="modal-edit" id="modal-edit">
  <div class="modal-header">
    <p class="modal-title-edit" contenteditable="plaintext-only">
      Example Modal
    </p>
    <button data-close-button class="close-button-edit">&times;</button>
  </div>
  <div class="modal-body">
    <div id="todo-form">
      <label>Description</label>
      <br />
      <input
        class="issue-description-edit"
        type="text"
        placeholder="Describe issue here!"
        contenteditable="plaintext-only"
      />
      <br />
      <select class="modal-priority-edit">
        <option value="low">Low</option>
        <option value="medium">Medium</option>
        <option value="high">High</option>
        <option value="urgent">Urgent</option>
      </select>
      <select class="modal-lead-responsibility-edit"></select>
      <div class="dropdown">
        <input
          id="dropdownButton"
          type="button"
          class="dropdown-button"
          value="Dropdown"
        />
        <div id="options" class="dropdown-content">
          <input class="option" type="checkbox" id="option" value="Analysis" />
          <label for="Analysis">Analysis</label><br />
          <input class="option" type="checkbox" id="option" value="Writing" />
          <label for="Writing">Writing</label><br />
          <input class="option" type="checkbox" id="option" value="Review" />
          <label for="Review">Review</label><br />
          <input
            class="option"
            type="checkbox"
            id="option"
            value="Production"
          />
          <label for="Production">Production</label><br />
        </div>
      </div>
      <button id="btn-issue-confirm-edit" type="submit">Confirm</button>
    </div>
  </div>
</div>

<div id="overlay"></div>
<script>
  const workspaceID = "{{workspaceID}}";
</script>
