<body></body>
<div class="sidebar">
  <div class="sidebar-top">
    <img src="../img/AppLogo.png" />
    <p>NOVA</p>
  </div>
</div>
<div class="board">
  <div class="lanes">
    <div class="swim-lane" id="todo-lane">
      <div class="lane-header">
        <h3 class="heading">To-do</h3>
        <button class="add-card">+</button>
      </div>
    </div>
    <div class="swim-lane" id="progress-lane">
      <div class="lane-header">
        <h3 class="heading">In progress</h3>
        <button class="add-card">+</button>
      </div>
    </div>

    <div class="swim-lane" id="done-lane">
      <div class="lane-header">
        <h3 class="heading">Done</h3>
        <button class="add-card">+</button>
      </div>
    </div>
  </div>
</div>
<div class="modal" id="modal">
  <div class="modal-header">
    <div
      class="modal-title"
      contenteditable="true"
      data-text="Enter title here"
    ></div>
    <button data-close-button class="close-button">&times;</button>
  </div>

  <div class="modal-body">
    <div
      id="todo-description"
      class="modal-description"
      contenteditable="true"
      data-text="Enter description"
    ></div>
    <select class="modal-priority">
      <option value="low">Low</option>
      <option value="medium">Medium</option>
      <option value="high">High</option>
      <option value="urgent">Urgent</option>
    </select>
    <select class="modal-lead-responsibility"></select>

    <div class="dropdown-wrapper">
      <div class="dropdown-btn" btnText="low">
        <span class="selected-item">Priority</span>
      </div>
      <div class="dropdown-menu">
        <div class="item">low</div>
        <div class="item">medium</div>
        <div class="item">high</div>
        <div class="item">urgent</div>
      </div>
    </div>

    {{!--
    <div class="dropdown">
      <input
        id="multipleDropdownButton"
        type="button"
        class="dropdown-button"
        value="Tags "
      />
      <div id="multipleOptions" class="dropdown-content">
        <div class="item">
          <input class="option" type="checkbox" id="option" value="Analysis" />
          <label for="Analysis">Analysis</label>
        </div>
        <div class="item">
          <input class="option" type="checkbox" id="option" value="Writing" />
          <label for="Writing">Writing</label>
        </div>
        <div class="item">
          <input class="option" type="checkbox" id="option" value="Review" />
          <label for="Review">Review</label>
        </div>
        <div class="item">
          <input
            class="option"
            type="checkbox"
            id="option"
            value="Production"
          />
          <label for="Production">Production</label>
        </div>
      </div>
    </div>
    --}}
    <button id="btn-issue-create" type="submit">Create</button>
  </div>
</div>

<div id="overlay"></div>
<script>
  const workspaceID = "{{workspaceID}}";
</script>
