@font-face {
  font-family: "Geist";
  src: url("../fonts/Geist/Geist-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Geist black";
  src: url("../fonts/Geist/Geist-Black.ttf");
  font-weight: black;
  font-style: black;
}

:root {
  --textColor: #f9f4ef;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Geist";
  -ms-text-overflow: none;
  text-overflow: none;
  scrollbar-width: none;
}
main {
  background: url("../img/login-background.svg");
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 41px;
  border: 0.15vw solid rgba(255, 255, 255, 0.5);
  background: rgba(19, 20, 21, 0.32);
  backdrop-filter: blur(17.5px);
  width: fit-content;
  height: fit-content;
  padding: 10vh 7vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
h1 {
  color: var(--textColor);
  text-align: center;
  font-family: Geist;
  font-size: 6vh;
  font-style: normal;
  font-weight: bold;
  margin-bottom: 3vh;
}

#username {
  border-radius: 2cap;
  background: rgba(255, 255, 255, 0.25);
  border: none;
  width: 20vw;
  height: 3vw;
  flex-shrink: 0;
  padding-left: 1vw;

  margin-bottom: 3vh;
  color: var(--textColor);
  font-size: 2vh;
  font-style: normal;
  font-weight: bold;
}

#username::placeholder {
  color: var(--textColor);
  opacity: 0.5;
}

#password {
  border-radius: 2cap;
  background: rgba(255, 255, 255, 0.25);
  border: none;
  width: 20vw;
  height: 3vw;
  flex-shrink: 0;
  padding-left: 1vw;
  margin-bottom: 3cm;
  color: var(--textColor);
  font-size: 2vh;
  font-style: normal;
  font-weight: bold;
}

#password::placeholder {
  color: var(--textColor);
  opacity: 0.5;
}

button {
  background: rgba(16, 141, 234, 0.65);
  border: none;
  transition: ease-in-out 0.2s;
  border-radius: 2cap;
  width: 20vw;
  height: 3vw;
  color: var(--textColor);
  font-size: 3vh;
  font-style: normal;
  font-weight: bold;
}

button:hover {
  background: rgba(41, 150, 233, 0.65);
  transform: scale(1.03);
  cursor: pointer;
}
