/* Custom Fonts */
@font-face {
  font-family: "Geist";
  src: url("../fonts/Geist/Geist-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Geist black";
  src: url("../fonts/Geist/Geist-black.ttf");
  font-weight: black;
  font-style: black;
}
/* Form Styles */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 2px 30px 2px 2px;
  border: none;
}
#nopointer {
  pointer-events: none;
}

/* Global Styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Geist";
  -ms-text-overflow: none;
  text-overflow: none;
  scrollbar-width: none;
}

/* Empty Div Placeholder */
div:empty:not(:focus):before {
  content: attr(data-text);
  color: #999999;
}

*::-webkit-scrollbar {
  display: none;
}

/* Body Styles */
body {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/kanbanBackground.svg");
}

/* Board Styles */
.board {
  display: flex;
  width: calc(100% - 300px);
  height: 100%;
  margin-left: 300px;
  overflow: scroll;
}

/* Form Styles */
#todo-form {
  padding: 32px 32px 0;
}

#todo-form input {
  padding: 12px;
  margin-right: 12px;
  width: 225px;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  background: white;
  font-size: 14px;
  outline: none;
}

/* Lanes Styles */
.lanes {
  display: flex;
  align-items: flex-start;
  justify-content: start;
  gap: 16px;
  padding: 24px 32px;
  overflow: scroll;
  height: 100%;
}

.swim-lane {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 12px;
  fill: white;
  padding: 12px;
  border-radius: 4px;
  width: 450px;
  min-height: 120px;
  flex-shrink: 0;
}

.swim-lane .lane-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.swim-lane .heading {
  width: fit-content;
  margin-right: auto;
  color: #f2e9e4;
  font-family: Geist;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.swim-lane .add-card {
  float: right;
  margin-left: auto;
  padding: 0px 8px;
  border-radius: 8px;
  width: min-content;
  height: min-content;
  justify-content: right;
  border: none;
  outline: none;
  background: none;
  color: #f2e9e4;
  opacity: 0.8;
  font-size: 1.25rem;
  font-weight: normal;
}

.swim-lane .add-card:hover {
  background: rgba(255, 255, 255, 0.2);
}

.swim-lane::after {
  content: "";
  display: block;
  width: 0.8vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.062);
  margin-top: 10px;
  position: absolute;
  border-radius: 0.2cap;
  top: -34;
  right: -10;
}
/* Card Styles */
.card {
  /* Layout */
  position: relative;
  display: grid;
  grid-template-rows: 0.7fr 0.3fr 0.5fr;
  grid-template-columns: 0.45fr 1fr repeat(2, minmax(0, 1fr));
  min-height: 90px;
  padding: 12px;
  margin: 5px;
  transition: 0.2s ease-in-out;
  /* Styling */
  border: 2px solid rgba(255, 255, 255, 0.5);
  background: rgba(19, 20, 21, 0.2);
  backdrop-filter: blur(20%);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 1cap;
  backdrop-filter: blur(20px);
  cursor: pointer;
}

.card:hover {
  background: rgba(71, 75, 78, 0.2);
}

/* Issue Description Styles */
.card .taskTitle {
  /* Layout */
  display: flex;
  grid-row: 1 / 1;
  grid-column: 2/4;
  flex-direction: column;
  margin-top: 5px;
  /* Styling */
  color: #f2e9e4;
  font-family: Geist;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.card .issue-date {
  /* Layout */
  grid-row: 1 / 1;
  grid-column: 2/4;
  flex-direction: column;
  margin-top: 23px;
  /* Styling */
  opacity: 0.22;
  color: #f2e9e4;
  font-family: Geist;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.card .issue-assignee {
  /* Layout */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.card .issue-footer {
  /* Layout */
  display: flex;
  align-items: center;
  grid-column: 1/-1;
  grid-row: 3/3;
  flex-direction: row;
  margin-top: 15px;
}

.card .issue-footer .priority {
  /* Layout */
  display: flex;
  flex-direction: row;
  /* Design */
  border: 2px solid #d56062;
  padding: 4px 6px 4px 4px;
  border-radius: 1cap;
  cursor: pointer;
}

.card .issue-footer .priority:hover {
  /* Design */
  background-color: #d56062;
  .priority-text {
    color: #131415;
  }
}

.card .issue-footer .priority img {
  opacity: 0.9;
  width: 15px;
  height: 15px;
}

.card .issue-footer .priority p {
  /* Layout */
  position: relative;
  align-self: center;
  margin-left: 5px;
  /* Styling */
  color: #d56062;
  font-family: Geist;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.card .issue-footer .due-date {
  /* Layout   */
  display: flex;
  flex-direction: row;
  margin-left: 15px;
  /* Design */
  border: 2px solid #d56062;
  padding: 4px 6px 4px 4px;
  border-radius: 1cap;
  cursor: pointer;
}

.card .issue-footer .due-date:hover {
  /* Design */
  background-color: #d56062;
  p {
    color: #131415;
  }
}

.card .issue-footer .due-date img {
  /* Layout */
  margin-right: 5px;
  opacity: 0.9;
  width: 15px;
  height: 15px;
}

.card .issue-footer .due-date p {
  /* Layout */
  position: relative;
  align-self: center;
  /* Styling */
  color: #d56062;
  font-family: Geist;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.card .issue-footer .created-labels {
  /* Layout */
  position: relative;
  width: fit-content;
  margin-left: 15px;
  cursor: pointer;
  /* Styling */
  border: 2px solid #a04786;
  padding: 2px 8px;
  border-radius: 1cap;
  color: #a04786;
  font-family: Geist;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  align-self: top;
  line-height: normal;
}

.created-labels:hover {
  border-radius: 4px;
  background-color: #a04786;
  color: #131415;
}

/* Classes used with JS */
.is-dragging {
  scale: 1.05;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  background: rgb(50, 50, 50);
  color: #f2e9e4;
}

/* Pop-up Styles */
.modal {
  display: grid;
  grid-template-rows: 0.2fr 3fr;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 500px;
  max-width: 80%;
  transform: translate(-50%, -50%) scale(0);
  background: rgba(19, 20, 21, 0.3);
  backdrop-filter: blur(17.5px);
  transition: 200ms ease-in-out;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  z-index: 10;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal .modal-header {
  display: flex;
  grid-row: 1/1;
  grid-column: 1/-1;
  padding: 10px 15px;
  justify-content: space-between;
  align-items: center;
}

.modal .modal-header .modal-title {
  width: 100%;
  height: 100%;
  max-width: 450px;
  white-space: nowrap;
  color: #f2e9e4;
  overflow: hidden;
  outline: none;
  overflow: hidden;
  font-size: 1.5rem;
  font-weight: bold;
}

.modal .modal-body {
  display: grid;
  justify-content: space-between;
  grid-row: 2/-1;
  grid-column: 1/-1;
  color: #f2e9e4;
  grid-template-columns: 0.5fr 0.5fr 0.5fr;
  grid-template-rows: 1.3fr 0.2fr;
  padding: 15px 15px;
}

.modal .modal-body .modal-description {
  grid-row: 1/1;
  grid-column: 1/-1;
  width: 100%;
  outline: none;
  min-height: 50px;
}

.modal .modal-body .modal-priority,
.modal .modal-body .modal-lead-responsibility {
  width: fit-content;
  height: fit-content;
  background-color: rgba(255, 255, 255, 0.15);
  border: none;
  padding: 2px 15px;
  border-radius: 0.5cap;
  color: #f2e9e4;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  height: fit-content;
  grid-row: 2/2;
  grid-column: 1/-1;
  transform: scale(0);
}

.modal .modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  justify-content: right;
  color: #f2e9e4;
  font-size: 1.25rem;
  font-weight: bold;
}

/* Dropdown Menu Styles */

.dropdown-footer {
  display: flex;
  flex-direction: row;
  grid-row: 3/3;
  grid-column: 1/-1;
  width: 100%;
}

.dropdown-wrapper {
  margin-right: 3;
  grid-row: 3/3;
  grid-column: 1/-1;

  position: relative;
  text-align: center;
  width: 7vw;
  padding: 5px 10px;
  font-size: 14px;
  color: #f2e9e4;
}

.dropdown-btn {
  width: 100%;
  padding: 8px 10px;
  background-color: rgba(45, 47, 49, 0.7);
  border-radius: 5px;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.dropdown-menu {
  text-align: center;
  position: absolute;
  left: 0; /* Add this line */
  top: 100%;
  width: 100%; /* Add this line */
  margin-top: 5px;
  padding: 5px 0;
  background-color: rgba(45, 47, 49, 0.7);
  border-radius: 5px;
  opacity: 0.2;
  transform: scale(0);
  transform-origin: top;
  transition: all 0.1s ease-in-out;
  backdrop-filter: blur(10px);
}

.dropdown-menu.open {
  opacity: 1;
  transform: scale(1);
  z-index: 10;
}
.dropdown-menu .item {
  /* padding: 8px 16px; */
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown-menu .item:hover {
  background-color: rgba(53, 56, 59, 0.5);
}

.dropdown-menu .item.active {
  font-weight: bold;
}

/* multiple choice dropdown */

.multiple-choice-wrapper {
  display: flex;
  justify-content: center;
  margin-right: 3;
  grid-row: 3/3;
  grid-column: 1/-1;
  position: relative;
  text-align: center;
  color: #f2e9e4;
  width: 7vw;
  padding: 5px 10px;
  font-size: 14px;
}

.multiple-choice-btn {
  position: relative;
  width: 100%;
  padding: 8px 10px;
  background-color: rgba(45, 47, 49, 0.7);
  border-radius: 5px;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.multiple-choice-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  text-align: center;
  position: absolute;
  transform: translateX(-50%);
  top: 100%;
  width: 100%;
  padding: 5px 0px;
  margin-top: 5px;
  background-color: rgba(45, 47, 49, 0.7);
  border-radius: 5px;
  opacity: 0.2;
  transform: scale(0);
  transform-origin: top;
  transition: all 0.1s ease-in-out;
  backdrop-filter: blur(10px);
}

.multiple-choice-menu.open {
  opacity: 1;
  transform: scale(1);
  z-index: 10;
}
.option {
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
  text-align: left;
  width: 100%;
}

.dropdown-menu .option:hover {
  background-color: rgba(53, 56, 59, 0.5);
}

.dropdown-menu.option.active {
  font-weight: bold;
}

.option label {
  cursor: pointer;
}

.option input[type="checkbox"] {
  cursor: pointer;
  align-self: left;
  margin-left: 10px;
  margin-right: 5%;
  appearance: none;
  box-sizing: border-box;
  width: 15px;
  height: 15px;
  border: 2px solid rgba(255, 255, 255, 0.5);

  border-radius: 0.3cap;
  background-color: transparent;
}

input[type="checkbox"]:checked {
  border: none;
  background-size: cover;
  background-color: rgba(68, 157, 67, 1);
  background-image: url("../img/checkmark.svg");
}

/* Issue Creation Styles */
.modal .modal-body #btn-issue-create {
  display: flex;
  text-align: center;
  padding: 4px 20px;
  grid-row: 3/3;
  grid-column: 3/3;
  justify-self: end;
  align-self: center; /* Aligns the button vertically in the middle */
  background: rgba(131, 107, 254, 0.65);
  color: #f2e9e4;
  font-size: 20px;
  border-radius: 0.5cap;
  border: none;
  cursor: pointer;
  width: auto;
  height: auto;
  align-items: center;
}

.modal .modal-body #options.active {
  display: block;
}

.modal .modal-body #option.option {
  width: 25px;
}

/* Modal edit */
.modal-edit {
  display: grid;
  position: fixed;
  grid-template-columns: 1.5fr 0.5fr;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border-radius: 1cap;
  border: 3px solid rgba(255, 255, 255, 0.5);
  z-index: 5;
  background-color: none;
  width: 50vw;
  height: 30vw;
}

.modal-edit.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-edit > .modal-header {
  padding: 2vw 2vw;
  border-radius: 1cap 0 0 1cap;
  grid-row: 1/1;
  width: 100%;
  height: 100%;
  background: rgba(19, 20, 21, 0.6);
}

.modal-edit > .modal-header > .modal-title-edit {
  color: #f2e9e4;
  outline: none;
  overflow: hidden;
  font-size: 2.5vw;
  font-family: Geist;
  font-weight: bolder;
}

.modal-edit > .modal-header > .issue-description-edit {
  margin-top: 2vh;
  width: 90%;
  height: 70%;
  outline: none;
  text-align: top;
  min-height: 50px;
  color: #f2e9e4;
  overflow: hidden;
  font-size: 1vw;
  font-family: Geist;
  background: none;
  border: none;
  resize: none;
}
.modal-edit > .edit-sidebar {
  grid-column: 2/2;
  fill: rgba(19, 20, 21, 0.4);
  width: 100%;
  height: 100%;
  border-radius: 0 1cap 1cap 0;
  background: rgba(0, 0, 0, 0.5);
  padding: 2vw 1vw;
}

.modal-edit > .edit-sidebar > .dropdown-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-edit > .edit-sidebar > .dropdown-footer > .multiple-choice-wrapper,
.modal-edit > .edit-sidebar > .dropdown-footer > .dropdown-wrapper {
  width: 10vw !important;
  color: #f2e9e4;
}
.option-edit {
  display: flex;
  cursor: pointer;
  width: 100%;
  align-items: center;
}

.dropdown-menu .option-edit:hover {
  background-color: rgba(53, 56, 59, 0.5);
}

.dropdown-menu.option-edit.active {
  font-weight: bold;
}

.option-edit label {
  cursor: pointer;
}

.option-edit input[type="checkbox"] {
  cursor: pointer;
  align-self: left;
  margin-left: 10px;
  margin-right: 20%;
  appearance: none;
  box-sizing: border-box;
  width: 15px;
  height: 15px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 0.3cap;
  background-color: transparent;
  margin-right: 5%;
}

input[type="checkbox"]:checked {
  border: none;
  background-size: cover;
  background-color: rgba(68, 157, 67, 1);
  background-image: url("../img/checkmark.svg");
}

.modal-edit > .edit-sidebar > .close-button-edit {
  position: relative;
  color: #f2e9e4;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25vw;
  font-weight: bold;
  left: 90%;
  top: -3%;
}

.close-button-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

#btn-issue-confirm-edit {
  position: fixed;
  bottom: 4%;
  padding: 5px 20px;
  background: rgba(131, 107, 254, 0.65);
  color: #f2e9e4;
  font-size: 20px;
  border-radius: 0.5cap;
  border: none;
  cursor: pointer;
}

/* Modal share */

.modal-share {
  display: grid;
  grid-template-rows: 3fr 1fr 1fr;
  grid-template-columns: 1fr 0.4fr;
  grid-gap: 2vh;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 500px;
  max-width: 80%;
  transform: translate(-50%, -50%) scale(0);
  background: rgba(19, 20, 21, 0.3);
  backdrop-filter: blur(17.5px);
  transition: 200ms ease-in-out;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  z-index: 10;
  padding: 2vw 2vw;
}

.modal-share.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-share > .search-header {
  display: flex;
  grid-row: 1/1;
  grid-column: 1/1;
  flex-direction: row;
  height: fit-content;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}

.modal-share > .search-header > input {
  width: 100%;
  height: 7vh;
  max-width: 450px;
  white-space: nowrap;
  color: #f2e9e4;
  border: none;
  background: none;
  overflow: hidden;
  outline: none;
  overflow: hidden;
  font-size: 1.5rem;
  font-weight: bold;
  align-self: flex-start;
}

.modal-share > .search-header > .share-search-button {
  width: 4vh;
  height: 4vh;
  background: none;
  border: none;
  cursor: pointer;
  margin-top: 0.8em;
}

.modal-share .close-button-share {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  justify-content: right;
  color: #f2e9e4;
  font-size: 1.25rem;
  font-weight: bold;
  justify-self: flex-end;
}

.modal-share > .close-button-share {
  height: fit-content;
  padding: 0.5em 0.5em;
}

.modal-share > .user-options-share {
  grid-row: 2;
  grid-column: 1;
  width: 80%;
  justify-self: center;
}
.modal-share > .user-options-share {
  background: rgba(45, 47, 49, 0.7);
  border-radius: 0.6cap;
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: #f2e9e4;
}

.modal-share > .share-button {
  grid-row: 3/3;
  justify-self: start;
  padding: 5px 20px;
  background: rgba(255, 255, 255, 0.082);
  color: #f2e9e4;
  font-size: 20px;
  border-radius: 0.5cap;
  border: 2px solid rgba(255, 255, 255, 0.5);
  cursor: pointer;
  width: auto;
  height: auto;
}

.modal-share > .confirm-button {
  grid-row: 3/3;
  grid-column: 2/2;
  justify-self: end;
  padding: 5px 20px;
  background: rgba(131, 107, 254, 0.65);
  color: #f2e9e4;
  font-size: 20px;
  border-radius: 0.5cap;
  border: none;
  cursor: pointer;
  width: auto;
  height: auto;
}

#overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  transition: 200ms ease-in-out;
  pointer-events: none;
  z-index: 0;
}

#overlay.active {
  pointer-events: all;
  opacity: 1;
  z-index: 4;
}

/* Sidebar Styles */
.sidebar {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  height: 100%;
  width: 300px;
  border-right: 2px solid rgba(255, 255, 255, 0.5);
  background: rgba(19, 20, 21, 0.32);
  backdrop-filter: blur(17.5px);
  box-shadow: 8px 0px 20px rgba(0, 0, 0, 0.25);
  padding: 0.4rem 0.8rem;
  transition: all 0.5s ease;
  z-index: 1;
}

.sidebar .sidebar-top {
  display: flex;
  top: 2%;
  align-items: center;
  text-align: center;
  width: min-content;
  margin: 0 auto;
}

.sidebar > .sidebar-top a {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
}

.sidebar .sidebar-top > a > img {
  width: 3em;
  height: 3em;
  flex-shrink: 0;
}

.sidebar .sidebar-top > a > p {
  color: #f2e9e4;
  margin-left: 5px;
  font-family: Geist;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/* sidebar content */
.sidebar-content {
  display: flex;
  flex: column;
  margin-top: 4vh;
  width: 100%;
  justify-content: center;
}

.sidebar-content > .workspace-icons {
  width: 80%;
  justify-content: space-between;
}

#share-workspace {
  border-radius: 0.6cap;
  width: 1.5em;
  height: 1.5em;
  padding: 0.5vw;
  background: rgba(255, 255, 255, 0.2);
  border: 2px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(1vh);
  cursor: pointer;
  font-size: 1.5vw;
}
