{{> navbar}}
<h1>Register</h1>

<form>
    <label for="username">Username:</label>
    <input class="username" type="text"><br>
    <label for="password">password:</label>
    <input class="password" type="text"><br>
    <label for="email">Email:</label>
    <input class="email" type="text"><br>

    <input class="btn-create-user" type="submit" value="Sign up!">
</form>