<main>
  {{> navbar}}

  <form
    action="/register"
    method="POST"
    enctype="multipart/form-data"
    id="register-form"
  >
    <h1>Register</h1>
    <input id="email" placeholder="Email" name="email" type="email" required />
    <input
      id="username"
      placeholder="Username"
      name="username"
      type="text"
      required
    />
    <input
      id="password"
      placeholder="Password"
      name="password"
      type="password"
      required
    />
    <label class="picText" for="profile-picture-input"
      >Choose a profile picture</label
    >
    <input
      class="form-control"
      type="file"
      name="profilePicture"
      id="profile-picture-input"
      accept=".png,.jpeg,.jpg"
    />
    <div id="image-container">
      <img id="cropped-profile-picture" class="circle-crop" alt="" />
    </div>

    <button>Register</button>
  </form>
</main>
