{{> navbar}}
<h1>Register</h1>

<form action="/register" method="POST" enctype="multipart/form-data">
  <label for="email">Email:</label>
  <input id="email" name="email" type="email" required /><br />
  <label for="username">Username:</label>
  <input id="username" name="username" type="text" required /><br />
  <label for="password">Password:</label>
  <input id="password" name="password" type="password" required /><br />
  <label for="profilePicture" class="form-label"
    >Choose a profile picture</label
  >
  <input
    class="form-control"
    type="file"
    name="profilePicture"
    id="profilePicture"
    accept=".png,.jpeg,.jpg"
  />
  <img
    class="circle-crop"
    src="https://imgs.search.brave.com/fgg_s32FCJBbCmxtTDVL3fLu8YXyHcfoZjfkhmBo24s/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9pLmlt/Z2ZsaXAuY29tLzIv/NmFocW1vLmpwZw"
    alt=""
  />

  <button>Register</button>
</form>
