{{> navbar}}

<main>
  <section class="toppage">
    <header class="titlebar">
      <h1>Where Every Student's Universe Unfolds!</h1>
    </header>
    <div class="container">
      <div class="circle" id="mask"></div>
      {{#unless isLoggedIn}}
      <a href="/login" class="button-wrapper">
        <button class="try-now">Try now</button>
      </a>
      {{/unless}}
      {{#if isLoggedIn}}
      <a href="/workspaces" class="button-wrapper">
        <button class="try-now">Try now</button>
      </a>
      {{/if}}
    </div>
    <div class="reveal-wrapper">
      <div class="reveal">
        <a href="/manifesto">
          "This manifesto introduces our project management tool, designed to
          function as a "Ulysses pact" for students—binding them to their
          commitments and ensuring a singular focus on accountability."
        </a>
      </div>
    </div>
    <div class="star-container"></div>
  </section>

  <section class="screenshot">
    <figure class="kanban-screenshot-container">
      <img
        src="/img/kanban-screenshot.png"
        class="scroll-trigger"
        alt="Kanban
      Screenshot"
      />
    </figure>
  </section>

  <section class="information">
    <div class="scroll-trigger" id="splitter"></div>
    <div class="scroll-trigger" id="our-value-wrapper">
      <h2>Our values</h2>
    </div>
    <div class="value-frame scroll-trigger">
      <div class="value-img">
        <p>Designed for project based learning</p>
      </div>
      <div class="value-img">
        <p>Empowering dicaplined project management</p>
      </div>
      <div class="value-img">
        <p>Streamlining student Project Management</p>
      </div>
      <div class="value-img">
        <p>
          Empowering students with efficient project management tools, fostering
          collaboration, and driving innovation for excellence and success
          together.
        </p>
      </div>
    </div>
    <div class="blur-container">
      <div class="neon-blur scroll-trigger"></div>
    </div>
  </section>
</main>
{{> footer}}
