{{> navbar}}
<h1>Home</h1>

<form action="/" method="POST">

   <label for="workspace-title">Title:</label>
   <input type="text" id="workspace-title" name="workspace-title">

   <input type="submit" value="Create workspace">

</form>