<header class="topbar"></header>

<main>
  <section class="toppage">
    <header class="titlebar">
      <h1>Where Every Student's Universe Unfolds!</h1>
    </header>
    <div class="container">
      <figure class="circle noisy"></figure>
    </div>
  </section>

  <section class="screenshot"></section>

  <div class="button-wrapper">
    <button>Try now</button>
  </div>
  <section>
    <figure class="kanban-screenshot-container">
      <img
        src="/img/kanban-screenshot.png"
        class="scroll-trigger"
        alt="Kanban Screenshot"
      />
    </figure>
  </section>

  <section class="information">
    <div class="scroll-trigger" id="splitter"></div>
    <div class="scroll-trigger" id="our-value-wrapper">
      <h2>Our values</h2>
    </div>
    <div class="value-frame">
      <div class="value-img scroll-trigger">
        <p>Designed for university students</p>
      </div>
      <div class="value-img scroll-trigger">
        <p>Empowering Academic Excellence Together</p>
      </div>
      <div class="value-img scroll-trigger">
        <p>Streamlining Student Project Management</p>
      </div>
      <div class="value-img scroll-trigger">
        <p>
          Empowering students with efficient project management tools, fostering
          collaboration, and driving innovation for academic excellence and
          success together.
        </p>
      </div>
    </div>
    <div class="blur-container">
      <div class="neon-blur scroll-trigger"></div>
    </div>
  </section>

  <section class="unnamed"></section>
</main>
