<header class="topbar"></header>

<main>
  <section class="toppage">
    <header class="titlebar">
      <p class="intro-text">START LEARNING TODAY!</p>
      <h1>Where Every Student's Universe Unfolds!</h1>
    </header>
    <div class="container">
      <figure class="shape"></figure>
    </div>
  </section>

  <section>
    <div class="button-wrapper">
      <button>Try now</button>
    </div>
    <figure class="kanban-screenshot-container">
      <img
        src="/img/kanban-screenshot.png"
        class="scroll-trigger"
        alt="Kanban Screenshot"
      />
    </figure>
  </section>

  <section class="information">
    <div class="scroll-trigger" id="splitter"></div>
    <article class="scroll-trigger" id="our-value-wrapper">
      <h2>Our values</h2>
    </article>
    <div class="value-frame">
      <article class="value-img scroll-trigger">
        <p>Designed for university students</p>
      </article>
      <article class="value-img scroll-trigger">
        <p>Empowering Academic Excellence Together</p>
      </article>
      <article class="value-img scroll-trigger">
        <p>Streamlining Student Project Management</p>
      </article>
      <article class="value-img scroll-trigger">
        <p>
          Empowering students with efficient project management tools, fostering
          collaboration, and driving innovation for academic excellence and
          success together.
        </p>
      </article>
    </div>
  </section>
</main>
