<div class="topbar"></div>

<div class="toppage">
  <div class="titlebar">
    <p class="intro-text">START LEARNING TODAY!</p>
    <h1>Where Every Student's Universe Unfolds!</h1>
  </div>
  <div class="container">
    <div class="shape"></div>
  </div>
</div>
<div class="button-wrapper">
  <button>Try now</button>
</div>
