<div class="topbar"></div>

<div class="toppage">
  <div class="titlebar">
    <p class="intro-text">START LEARNING TODAY!</p>
    <h1>Where Every Student's Universe Unfolds!</h1>
    <p class="outro-text">
      Embark on an Epic Expedition through the Galactic Realm of Academic
      Excellence: Ignite Your Potential, Navigate Your Course through Projects
      of Infinite Possibilities, and Illuminate Your Path to Success with
      Project Nova, Your Trusty Cosmic Companion on the Journey of Education and
      Beyond!
    </p>
  </div>
</div>
