<div class="topbar"></div>
<section class="toppage">
    <div class="titlebar">
      <p class="intro-text">START LEARNING TODAY!</p>
      <h1>Where Every Student's Universe Unfolds!</h1>
    </div>
    <div class="container">
      <div class="shape"></div>
    </div>
  </div>
</section>

<section>
<div class="button-wrapper">
  <button>Try now</button>
</div>
<div class="kanban-screenshot-container">
  <img src="/img/kanban-screenshot.png" class="scroll-trigger" />
</div>
</section>

<section class="information">
  <div class="scroll-trigger" id="splitter">
  </div>
  <div class="scroll-trigger" id="our-value-wrapper">
    <h2>Our values</h2>

  </div>
</section>