<body>
  {{> navbar}}
  <main>
    <h1>THE PROCLAMATION OF NOVA</h1>
    <div>
      <h2>Introduction</h2>
      <p>
        In the landscape of project-based learning, where the essence of
        education is rooted in real-world application and individual
        responsibility, traditional project management tools often fall short.
        They dilute accountability, distribute ownership too thinly, and
        ultimately fail to foster the growth and discipline necessary for true
        mastery.
      </p>
      <p class="highlight">
        "This manifesto introduces our project management tool, designed to
        function as a "Ulysses pact" for students—binding them to their
        commitments and ensuring a singular focus on accountability."
      </p>
    </div>
    <div>
      <h2>Singular Responsibility</h2>
      <p>
        In our tool, users are required to assign each task to one—and only
        one—individual. This enforced singular responsibility ensures clear
        ownership and accountability, fostering a sense of personal investment
        and commitment.
      </p>
    </div>

    <div>
      <h2>Minimalist Design</h2>
      <p>
        The tool is intentionally minimalist. It includes only the essential
        features needed to assign responsibilities, set deadlines, and track
        progress. This simplicity helps students focus on the work itself,
        rather than becoming distracted by unnecessary features.
      </p>
    </div>
  </main>
  {{> footer}}
</body>
